<section id="welcome-index-wedding-plan-leader" class="jumbotron text-center">
  <div class="container">
    <h1>The Plan</h1>
  </div>
</section>
<section id="welcome-index-wedding-plan">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h2>When to Arrive</h2>
        <p>Whether you are staying at the venue or staying nearby, plan to be in town the night before the wedding. For those staying with us, the earliest we can be there is at 11 am on Friday the 23rd.</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h2>Order of the Day</h2>
        <p><strong>3pm</strong> &mdash; Private vows (no ceremony)</p>
        <p><strong>3:30pm</strong> &mdash; Guests arrive</p>
        <p><strong>3:30pm-5pm</strong> &mdash; Cocktail hour</p>
        <p><strong>5pm</strong> &mdash; Dinner!</p>
        <p><strong>7pm</strong> &mdash; Coffee and Cake</p>
        <p><strong>9pm</strong> &mdash; guests not staying at venue depart</p>
        <%= image_tag "dylan.jpg", id: 'side-image' %>
        <h2>Dress code</h2>
        <p><strong>Garden Party Formal</strong></p>
        <p>Dress in your best, but be prepared to spend some time outside, including dinner with the sun setting over the Hudson River.</p>
        <p>We recommend bringing warm shawls and jackets, as May is still a cooler month in the Hudson Valley.</p>
        <p> if you aren't sure if your outfit is appropriate, here are some examples of what we are lookinf for:</p>
        <div id="dress-code-carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag "dress_code11.jpg", class: "d-block w-100", alt: "Dress Code Example 1" %>
            </div>
            <div class="carousel-item">
              <%= image_tag "dress_code2.jpg", class: "d-block w-100", alt: "Dress Code Example 2" %>
            </div>
            <div class="carousel-item">
              <%= image_tag "dress_code3.jpg", class: "d-block w-100", alt: "Dress Code Example 3" %>
            </div>
            <div class="carousel-item">
              <%= image_tag "dress_code1.jpg", class: "d-block w-100", alt: "Dress Code Example 8" %>
            </div>
            <div class="carousel-item">
              <%= image_tag "dress_code9.jpg", class: "d-block w-100", alt: "Dress Code Example 8" %>
            </div>
            <div class="carousel-item">
              <%= image_tag "dress_code10.jpg", class: "d-block w-100", alt: "Dress Code Example 8" %>
            </div>
            <div class="carousel-item">
              <%= image_tag "dress_code4.jpg", class: "d-block w-100", alt: "Dress Code Example 4" %>
            </div>
            <div class="carousel-item">
              <%= image_tag "dress_code5.jpg", class: "d-block w-100", alt: "Dress Code Example 5" %>
            </div>
            <div class="carousel-item">
              <%= image_tag "dress_code6.jpg", class: "d-block w-100", alt: "Dress Code Example 6" %>
            </div>
            <div class="carousel-item">
              <%= image_tag "dress_code7.jpg", class: "d-block w-100", alt: "Dress Code Example 7" %>
            </div>
            <div class="carousel-item">
              <%= image_tag "dress_code8.jpg", class: "d-block w-100", alt: "Dress Code Example 8" %>
            </div>
          </div>

          <button class="carousel-control-prev" role="button" data-target="#dress-code-carousel" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </button>
          <button class="carousel-control-next" role="button" data-target="#dress-code-carousel" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </button>
        </div>

        <h2>Gifts &amp; Cards</h2>
        <p>If you are staying with us at the venue, we'd love if you brought something to share with the group. A bottle of wine, a board game, some snacks, or whatever else you can think of!</p>
        <p>We are not registered anywhere, and would prefer something we can share with our family and friends on this special day. If you want to give us something, please consider contributing to <%= link_to 'Palestinian Children\'s relief fund', @pcrf_url %>, who are working to get specialized medical and surgical care for palestinian children injured in the war on Gaza.</p>
        <p class="text-center"><%= link_to 'Donate to PCRF', @pcrf_url, class: 'btn btn-primary wedding-cta-btn' %></p>
        <p>If you'd like to send us a card, our mailing address is: </p>
        <p>210 East Broadway, #H1007<br> New York, NY 10002</p>
        <h2>Menu</h2>
        <p>Dinner will be family style&mdash;no need to pick options, there will be something for everyone!</p>
        <h2>RSVPs and Plus-Ones</h2>
        <p>If you are staying with us at the venue, <strong>we only have room for the plus-ones we have explicitly invited.</strong> If this is the case, please have them RSVP separately. If you or your invited plus-one can't make it, please let us know as soon as possible.</p>
      </div>
    </div>
  </div>
</section>
